.body {
  display: flex;
  justify-content: center;
}

.app {
  width: 800px;
  height: 575px;
  background-color: white;
  overflow-y: auto;
  border-radius: 1%;
  box-shadow: 1px 1px 5px 5px #d3d3d3;
  margin-top: 50px;
  margin-bottom: 50px;
}

.search-bar {
  width: 100%;
  padding: 10px;
  color: grey;
  font-size: large;
  border: none;
  border-bottom: 1px solid #e8e8e8;
}

.boxes {
  height: 450px;
  display: flex;
}

.results {
  border: 2px solid blue;
  height: 200px;
  width: 350px;
  overflow-y: auto;
}

.nominations {
  border: 2px solid black;
  height: 200px;
  width: 350px;
  overflow-y: auto;
}
